<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT">[[#{layout.title}]]</title>
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='home'} ? active" th:href="@{/}">[[#{layout.accueil}]]</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='eleve'} ? active" th:href="@{/eleve/list}">[[#{layout.eleve}]]</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='formateur'} ? active"
					th:href="@{/formateur/list}">[[#{layout.formateur}]]</a></li>
				<li class="nav-item"><a class="nav-link"
					th:classappend="${page=='matiere'} ? active"
					th:href="@{/matiere/list}">[[#{layout.matiere}]]</a></li>
			</ul>
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href=".?lang=en"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" style="width:24px;height:16px"/></a></li>
				<li class="nav-item"><a class="nav-link" href=".?lang=fr"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg" style="width:24px;height:16px"/></a></li>
			</ul>

		</nav>
	</header>

	<section layout:fragment="custom-content">
	</section>
</body>
</html>