<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html" th:with="page='ville'">
<head>
<title>[[#{ville.form.page}]]</title>
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="villeEdit" class="card mt-5">
			<form th:action="@{/ville/save}" method="post">
				<input type="hidden" name="version" th:value="${maVille.version}" />
				<div class="card-header">
					<h5>[[#{ville.form.title}]]</h5>
				</div>
				<div class="card-body">

					<div class="form-group">
						<label for="id">[[#{ville.form.id}]]:</label> <input type="number"
							class="form-control" id="id" name="id" required
							th:value="${maVille.id}" readonly> <span
							class="text-danger" th:errors="${maVille.id}"></span>
					</div>

					<div class="form-group">
						<label for="nom">[[#{ville.form.nom}]]:</label> <input type="text"
							class="form-control" id="nom" name="nom"
							th:value="${maVille.nom}"> <span class="text-danger"
							th:errors="${maVille.nom}"></span>
					</div>

				</div>
				<div class="card-footer text-right">
					<div class="btn-group ">
						<button type="submit" class="btn btn-success">
							<i class="far fa-check-square fa-2x"></i>
						</button>
						<a th:href="@{/ville/cancel}" class="btn btn-warning text-white">
							<i class="far fa-window-close fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>